<!doctype html>
<html lang="en">
  <head>
    <title>Test PHP Application</title>


    <link rel="shortcut icon" href="static/img/favicon.ico">
<link rel="stylesheet" href="static/css/styles.css">

  </head>
  <body>
    <div class="demo-layout">
      <header class="header">
        <div class="">
          <span class="header-text">Test PHP Application</span>
          <div class="mdl-layout-spacer"></div>

        </div>
      </header>
      <main class="demo-main">
          <div class="middle">
            <h3>Simple Python App Status: {{ variable }}</h3>
          </div>
        </main>
      </div>
   </body>
  </html>
  